.App{
    color: rgb(21,76, 94);
    font-family: OpenSans-Light;
    /* width: fit-content; */
}
.jm-bg{
    height: 100vh;
    background-color: white;
    padding: 0;
}
.cntr-bg
{
    background-image: url('./assets/BANNER INICIO.jpg');
    height: 100vh;
    background-size: cover;
    /* clip-path: polygon(0% 25%, 36.5% 25%, 36.5% 12%, 67.5% 6%, 67.5% 25%, 100% 25%, 100% 99%, 0% 99%); */
}
.imgdesde
{
    position: absolute;
    top: 70%;
    left: 0%;
    height: 140px;
    width: 140px;
    transform: translate(-10%, 50%);
}
.imgchuxchulub
{
    position: relative;
    top: 0px;
    right: 0px;
    height: 50px;
    width: auto;
    transform: translate(0%, -200%);
}
.vivealmax-bg
{
    background-image: url('./assets/Recursos - LITORAL-56.svg');
    height: 40vh;
    width: 160vh;
    background-size: contain;
}
.cotizar-bg
{
    background-image: url('./assets/fondo.png');
    height: 110vh;
    width: 100%;
    background-size: cover;
}
.amenidades-bg
{
    background-image: url('./assets/Plano Amenidades.jpg');
    height: 80vh;
    background-size: cover;
    
    padding: 0;
    margin: 0;
    /* clip-path: polygon(0% 25%, 36.5% 25%, 36.5% 12%, 67.5% 6%, 67.5% 25%, 100% 25%, 100% 99%, 0% 99%); */
}
/* Scroll lateral */
#pinContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
}
#slideContainer {
    width: 400%; /* to contain 4 panels, each with 100% of window width */
    height: 100%;
}
.panel {
    height: 100%;
    width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
    float: left;
}
/* Termina scroll lateral */
.vistaaerea-bg{
    background-image: url('./assets/Banner Progreso.jpg');
    height: 100vh;
    background-size: cover;
    
    padding: 0;
    margin: 0;
    /* clip-path: polygon(0% 25%, 36.5% 25%, 36.5% 12%, 67.5% 6%, 67.5% 25%, 100% 25%, 100% 99%, 0% 99%); */
}
.imgLogoFooter{
    position: relative;
    top: 80%;
    left: 0%;
    height: 140px;
    width: 140px;
    transform: translate(110%, -40%);
}
.imgEstrellaFooter{
    position: relative;
    top: 110%;
    right: -70%;
    height: 50px;
    width: auto;
    transform: translate(0%, -70%);
}
.imgLogoFooter2{
    position: relative;
    top: 80%;
    left: 0%;
    height: 140px;
    width: 140px;
    transform: translate(110%, -55%);
}
.imgDep1{
    position: absolute;
    top: 120%;
    left: 28%;
    height: 50px;
    width: auto;
    transform: translate(20%, 120%);
}
.img1DeptoT1N1{
    background-image: url('./assets/deptot1n1/SALA.jpg');
    height: 100vh;
    background-size: cover;
}
.img2DeptoT1N1{
    background-image: url('./assets/deptot1n1/RECÁMARA.jpg');
    height: 100vh;
    background-size: cover;
}
.img3DeptoT1N1{
    background-image: url('./assets/deptot1n1/TERRAZA.jpg');
    height: 100vh;
    background-size: cover;
}
.img1DeptoT2N2{
    background-image: url('./assets/deptot2n2/SALA.jpg');
    height: 100vh;
    background-size: cover;
}
.img2DeptoT2N2{
    background-image: url('./assets/deptot2n2/RECÁMARA.jpg');
    height: 100vh;
    background-size: cover;
}
.img3DeptoT2N2{
    background-image: url('./assets/deptot2n2/_TERRAZA.jpg');
    height: 100vh;
    background-size: cover;
}
.img1DeptoT3N2{
    background-image: url('./assets/deptot3n2/SALA.jpg');
    height: 100vh;
    background-size: cover;
}
.img2DeptoT3N2{
    background-image: url('./assets/deptot3n2/RECÁMARA.jpg');
    height: 100vh;
    background-size: cover;
}
.img3DeptoT3N2{
    background-image: url('./assets/deptot3n2/TERRAZA.jpg');
    height: 100vh;
    background-size: cover;
}
.img1DeptoT4N2{
    background-image: url('./assets/deptot4n2/SALA.jpg');
    height: 100vh;
    background-size: cover;
}
.img2DeptoT4N2{
    background-image: url('./assets/deptot4n2/RECÁMARA.jpg');
    height: 100vh;
    background-size: cover;
}
.img3DeptoT4N2{
    background-image: url('./assets/deptot4n2/_TERRAZA.jpg');
    height: 100vh;
    background-size: cover;
}
.img1DeptoPHt1{
    background-image: url('./assets/deptoPHt1/ROOF.jpg');
    height: 100vh;
    background-size: cover;
}
.img2DeptoPHt1{
    background-image: url('./assets/deptoPHt1/RECÁMARA.jpg');
    height: 100vh;
    background-size: cover;
}
.img3DeptoPHt1{
    background-image: url('./assets/deptoPHt1/_TERRAZA.jpg');
    height: 100vh;
    background-size: cover;
}
.img1DeptoPHt2{
    background-image: url('./assets/deptoPHt2/SALA.jpg');
    height: 100vh;
    background-size: cover;
}
.img2DeptoPHt2{
    background-image: url('./assets/deptoPHt2/RECÁMARA.jpg');
    height: 100vh;
    background-size: cover;
}
.img3DeptoPHt2{
    background-image: url('./assets/deptoPHt2/ROOF.jpg');
    height: 100vh;
    background-size: cover;
}
.btnDepartamentos {
    background-color: rgba(241, 168, 153, 0);
    color: rgb(21, 76, 94);
    border: 0px;
}
.btnDepartamentos:hover {
    background-color: rgb(241, 168, 153);
    color: rgb(21, 76, 94);
}
.btnDepartamentos:focus {
    box-shadow: none !important;
    background-color: rgb(241, 168, 153) !important;
    color: rgb(21, 76, 94);
}
.btnVerGaleria{
    content: url('./assets/Recursos\ -\ LITORAL-79.svg');
}
.btnVerGaleria:hover {
    content: url('./assets/Recursos\ -\ LITORAL-95.svg');
}
.btnAgendarCita{
    content: url('./assets/Recursos\ -\ LITORAL-84.svg');
}
.btnAgendarCita:hover {
    content: url('./assets/Recursos\ -\ LITORAL-92.svg');
}
.btnVerDepartamentos{
    content: url('./assets/Recursos\ -\ LITORAL-80.svg');
}
.btnVerDepartamentos:hover {
    content: url('./assets/Recursos\ -\ LITORAL-90.svg');
}
.btnCotizar{
    content: url('./assets/Recursos\ -\ LITORAL-78.svg');
}
.btnCotizar:hover {
    content: url('./assets/Recursos\ -\ LITORAL-89.svg');
}
.btnCotizar:focus {
    box-shadow: none !important;
}
.hide {
    display: none;    
}

/*Imagenes de admin de galeria*/
.thumbex {
    margin: 0px 20px 30px 0px;
    width: 100%;
    min-width: 260px;
    /* max-width: 450px; */
    height: 180px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    outline: 2px solid white;
    outline-offset: -15px;
    background-color: rgba(255,255,255,1);
    box-shadow: 5px 10px 40px 5px rgba(0,0,0,0.5);
  }
    .thumbex .thumbnail {
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 3px;
        margin-right: 3px;
        overflow: hidden;
        min-width: 260px;
        height: 180px;
        position: relative;
        opacity: 0.88;
        backface-visibility: hidden;
        transition: all 0.4s ease-out;
    }     
        
    .thumbex .thumbnail img{
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      transform: translate(-50%, -50%);
      backface-visibility: hidden;
    }
  
    .thumbex #delete{
      position: relative;
      z-index: 2;
      left: 90%;
      bottom: 95%;
      height: 20px;
      width: auto;
    }
  
    .thumbex .thumbnail span{
      position: absolute;
      z-index: 2;
      top: calc(150px - 60px);
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.7);
      text-align: center;
      font-size: 20px;
      color: white;
      font-weight: 300;
      letter-spacing: 0.2px;
      transition: all 0.3s ease-out;
    }
  
    .thumbex .thumbnail h2{
      position: relative;
      z-index: 2;
      top: calc(125px);
      background: rgba(0,0,0,0.7);
      text-align: center;
      bottom: 0;
      font-size: 12px;
      color: white;
      font-weight: 300;
      letter-spacing: 0.2px;
      transition: all 0.3s ease-out;
    }
  
    .thumbex .thumbnail:hover{
      backface-visibility: hidden;
      transform: scale(1.15, 1.15);
      opacity: 1;
    }
  
    .thumbex .thumbnail:hover span
    {
      opacity: 0;
    }
  
    .thumbex .thumbnail:hover h2
    {
      opacity: 0;
    }
/*Termina Imagenes de admin de galeria*/

/*Cuadros de departamentos*/
  .piso1-l {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(162px, -190px);
    z-index: 100;
  }
  .piso1-c {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(267px, -190px);
    z-index: 100;
  }
  .piso1-r {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(367px, -190px);
    z-index: 100;
  }
  .piso2-l {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(162px, -255px);
    z-index: 100;
  }
  .piso2-c {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(267px, -255px);
    z-index: 100;
  }
  .piso2-r {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(367px, -255px);
    z-index: 100;
  }
  .piso3-l {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(162px, -320px);
    z-index: 100;
  }
  .piso3-c {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(267px, -320px);
    z-index: 100;
  }
  .piso3-r {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(367px, -320px);
    z-index: 100;
  }
  .piso4-l {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(162px, -385px);
    z-index: 100;
  }
  .piso4-c {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(267px, -385px);
    z-index: 100;
  }
  .piso4-r {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(367px, -385px);
    z-index: 100;
  }
  .piso5-l {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(162px, -448px);
    z-index: 100;
  }
  .piso5-c {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(267px, -448px);
    z-index: 100;
  }
  .piso5-r {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(367px, -448px);
    z-index: 100;
  }
  .piso6-l {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(162px, -510px);
    z-index: 100;
  }
  .piso6-c {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(267px, -510px);
    z-index: 100;
  }
  .piso6-r {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(367px, -510px);
    z-index: 100;
  }
  .piso7-l {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(162px, -575px);
    z-index: 100;
  }
  .piso7-c {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(267px, -575px);
    z-index: 100;
  }
  .piso7-r {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(367px, -575px);
    z-index: 100;
  }
  .pisoph-l {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(162px, -668px);
    z-index: 100;
  }
  .pisoph-c {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(267px, -668px);
    z-index: 100;
  }
  .pisoph-r {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(367px, -668px);
    z-index: 100;
  }
  /*Termina cuadros de departamentos*/
  /* Amenidades del plano */
  .punto1{
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    transform: translate(367px, -258px);
    z-index: 100;
  }
  .punto2{
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    transform: translate(557px, -200px);
    z-index: 100;
  }
  .punto3{
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    transform: translate(567px, -358px);
    z-index: 100;
  }
  .punto4{
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    transform: translate(650px, -200px);
    z-index: 100;
  }
  .punto5{
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    transform: translate(647px, -282px);
    z-index: 100;
  }
  .punto6{
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    transform: translate(745px, -302px);
    z-index: 100;
  }
  .punto7{
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    transform: translate(827px, -262px);
    z-index: 100;
  }
  .punto8{
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    transform: translate(900px, -232px);
    z-index: 100;
  }
  .punto9{
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    transform: translate(1067px, -190px);
    z-index: 100;
  }
  /* Termina amenidades del plano */


:local(.ring) {
  position: relative;
  z-index: 2;
}
